*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

}

body {
    background: #222;
    background-image:url(Computer-screen-code-glitch-animation-gif-background-free.gif);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;  /* centers horizontally */
    align-items: center;
}

.container {
    background: #333;
    padding: 30px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px #111;
    position: absolute;
    margin-bottom: 10px;
}

h2 {
    color: #87cefb;
    text-align: center;
    margin-bottom: 20px;
}


h3 {
    color: #87cefb;
    text-align: center;
    margin-bottom: 2px;
}

.inputbox {
    position: relative;
    margin-bottom: 15px;
}

input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    background: #222;
    color: #87cefb;
    border: none;
    font-size: 16px;
    box-sizing: border-box;
}

.show {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    background: #444;
    color: #87cefb;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.show::before {
    content: 'Show';
    font-size: 12px;
}
.show.hide::before {
    content: 'Hide';
}

.strengthmeter {
    width: 100%;
    height: 5px;
    background: #444;
    margin-top: 10px;
}

.container.weak .strengthmeter {
    background: red;
    width: 20%;
    filter: drop-shadow(0 0 5px red) drop-shadow(0 0 10px red) drop-shadow(0 0 20px red);
}
.container.medium .strengthmeter {
    background: orange;
    width: 60%;
    filter: drop-shadow(0 0 5px #ffa500) drop-shadow(0 0 10px #ffa500) drop-shadow(0 0 20px #ffa500);
}
.container.strong .strengthmeter {
    background: green;
    filter: drop-shadow(0 0 5px green) drop-shadow(0 0 10px green) drop-shadow(0 0 20px green);
}

.strength-text {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

/* Generator section */
.generator-container {
    background: #2d2d2d;
    width: 400px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 8px #111;
    position: relative;
    padding-left: 200px;
    margin-bottom: 50px;

}

.generator-container h3 {
    color: #87cefb;
    margin-bottom: 15px;
    padding-top: 20px;
}
.generate-btn {
    display: block;
    margin: 10px auto; /* Adds space above and centers it */
    padding: 10px 20px;
    background: #555;
    color: #87cefb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
}

.generate-btn:hover {
    background: #777;
}

